.wrapper{
    /* padding: 5px;  */
    min-height: 100%; 
    height: 100%; 
    box-sizing: border-box;
  }


/** No CSS for this example */
/* ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color:white;
    background-color: black;
    }
    
    ::ng-deep .mat-tab-list .mat-tab-labels {
    color:white;
    background-color: black;
    }
     */