<div class="container">
    <form class="login-form" [formGroup]="registrationForm" (ngSubmit)="forgotPassword()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Forgot Password</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>

        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="backToLogin()">Back to Login</button>
          <button mat-raised-button color="primary" type="submit">Send Link</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  